openapi: 3.0.0
info:
  title: clusters_mgmt
  contact:
    name: OCM Feedback
    email: ocm-feedback@redhat.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0
  version: v1
servers:
- url: https://api.openshift.com
  description: Production
- url: https://api.stage.openshift.com
  description: Stage
security:
- bearer: []
paths:
  /api/clusters_mgmt/v1/clusters:
    post:
      description: |-
        Provision a new cluster and add it to the collection of clusters.

        See the `register_cluster` method for adding an existing cluster.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Cluster'
      responses:
        "201":
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cluster'
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Metadata:
      properties:
        server_version:
          type: string
          description: Version of the server.
      description: Version metadata.
    AMIOverride:
      properties:
        kind:
          type: string
          description: Indicates the type of this object. Will be 'AMIOverride' if
            this is a complete object or 'AMIOverrideLink' if it is just a link.
        id:
          type: string
          description: Unique identifier of the object.
        href:
          type: string
          description: Self link.
        ami:
          type: string
          description: AMI is the id of the Amazon Machine Image.
        product:
          $ref: '#/components/schemas/Product'
        region:
          $ref: '#/components/schemas/CloudRegion'
      description: AMIOverride specifies what Amazon Machine Image should be used
        for a particular product and region.
    AWS:
      properties:
        kms_key_arn:
          type: string
          description: Customer Managed Key to encrypt EBS Volume
        sts:
          $ref: '#/components/schemas/STS'
        access_key_id:
          type: string
          description: AWS access key identifier.
        account_id:
          type: string
          description: AWS account identifier.
        additional_allowed_principals:
          type: array
          description: Additional allowed principal ARNs to be added to the hosted
            control plane's VPC Endpoint Service.
          items:
            type: string
        additional_compute_security_group_ids:
          type: array
          description: Additional AWS Security Groups to be added to default worker
            (compute) machine pool.
          items:
            type: string
        additional_control_plane_security_group_ids:
          type: array
          description: Additional AWS Security Groups to be added to default control
            plane machine pool.
          items:
            type: string
        additional_infra_security_group_ids:
          type: array
          description: Additional AWS Security Groups to be added to default infra
            machine pool.
          items:
            type: string
        audit_log:
          $ref: '#/components/schemas/AuditLog'
        billing_account_id:
          type: string
          description: BillingAccountID is the account used for billing subscriptions
            purchased via the marketplace
        ec2_metadata_http_tokens:
          $ref: '#/components/schemas/Ec2MetadataHttpTokens'
        etcd_encryption:
          $ref: '#/components/schemas/AwsEtcdEncryption'
        private_hosted_zone_id:
          type: string
          description: ID of private hosted zone.
        private_hosted_zone_role_arn:
          type: string
          description: Role ARN for private hosted zone.
        private_link:
          type: boolean
          description: Sets cluster to be inaccessible externally.
        private_link_configuration:
          $ref: '#/components/schemas/PrivateLinkClusterConfiguration'
        secret_access_key:
          type: string
          description: AWS secret access key.
        subnet_ids:
          type: array
          description: The subnet ids to be used when installing the cluster.
          items:
            type: string
        tags:
          type: object
          additionalProperties:
            type: string
          description: Optional keys and values that the installer will add as tags
            to all AWS resources it creates
      description: _Amazon Web Services_ specific settings of a cluster.
    AWSFlavour:
      properties:
        compute_instance_type:
          type: string
          description: |-
            AWS default instance type for the worker volume.

            User can be overridden specifying in the cluster itself a type for compute node.
        infra_instance_type:
          type: string
          description: AWS default instance type for the infra volume.
        infra_volume:
          $ref: '#/components/schemas/AWSVolume'
        master_instance_type:
          type: string
          description: AWS default instance type for the master volume.
        master_volume:
          $ref: '#/components/schemas/AWSVolume'
        worker_volume:
          $ref: '#/components/schemas/AWSVolume'
      description: Specification for different classes of nodes inside a flavour.
    AWSInfrastructureAccessRole:
      properties:
        kind:
          type: string
          description: Indicates the type of this object. Will be 'AWSInfrastructureAccessRole'
            if this is a complete object or 'AWSInfrastructureAccessRoleLink' if it
            is just a link.
        id:
          type: string
          description: Unique identifier of the object.
        href:
          type: string
          description: Self link.
        description:
          type: string
          description: Description of the role.
        display_name:
          type: string
          description: "Human friendly identifier of the role, for example `Read only`."
        state:
          $ref: '#/components/schemas/AWSInfrastructureAccessRoleState'
      description: A set of acces permissions for AWS resources
    AWSInfrastructureAccessRoleGrant:
      properties:
        kind:
          type: string
          description: Indicates the type of this object. Will be 'AWSInfrastructureAccessRoleGrant'
            if this is a complete object or 'AWSInfrastructureAccessRoleGrantLink'
            if it is just a link.
        id:
          type: string
          description: Unique identifier of the object.
        href:
          type: string
          description: Self link.
        console_url:
          type: string
          description: URL to switch to the role in AWS console.
        role:
          $ref: '#/components/schemas/AWSInfrastructureAccessRole'
        state:
          $ref: '#/components/schemas/AWSInfrastructureAccessRoleGrantState'
        state_description:
          type: string
          description: |-
            Description of the state.
            Will be empty unless state is 'Failed'.
        user_arn:
          type: string
          description: The user AWS IAM ARN we want to grant the role.
      description: Representation of an AWS infrastructure access role grant.
    AWSInfrastructureAccessRoleGrantState:
      type: string
      description: State of an AWS infrastructure access role grant.
      enum:
      - deleting
      - failed
      - pending
      - ready
      - removed
    AWSInfrastructureAccessRoleState:
      type: string
      description: State of an AWS infrastructure access role.
      enum:
      - invalid
      - removed
      - valid
    AWSMachinePool:
      properties:
        kind:
          type: string
          description: Indicates the type of this object. Will be 'AWSMachinePool'
            if this is a complete object or 'AWSMachinePoolLink' if it is just a link.
        id:
          type: string
          description: Unique identifier of the object.
        href:
          type: string
          description: Self link.
        additional_security_group_ids:
          type: array
          description: Additional AWS Security Groups to be added machine pool. Note
            that machine pools can only be worker node at the time.
          items:
            type: string
        availability_zone_types:
          type: object
          additionalProperties:
            type: string
          description: "Associates nodepool availability zones with zone types (e.g.\
            \ wavelength, local)."
        spot_market_options:
          $ref: '#/components/schemas/AWSSpotMarketOptions'
        subnet_outposts:
          type: object
          additionalProperties:
            type: string
          description: Associates nodepool subnets with AWS Outposts.
        tags:
          type: object
          additionalProperties:
            type: string
          description: |-
            Optional keys and values that the machine pool provisioner will add as AWS tags to all AWS resources it creates.

            AWS tags must conform to the following standards:
            - Each resource may have a maximum of 25 tags
            - Tags beginning with "aws:" are reserved for system use and may not be set
            - Tag keys may be between 1 and 128 characters in length
            - Tag values may be between 0 and 256 characters in length
            - Tags may only contain letters, numbers, spaces, and the following characters: [_ . : / = + - @]
      description: Representation of aws machine pool specific parameters.
    AWSNodePool:
      properties:
        kind:
          type: string
          description: Indicates the type of this object. Will be 'AWSNodePool' if
            this is a complete object or 'AWSNodePoolLink' if it is just a link.
        id:
          type: string
          description: Unique identifier of the object.
        href:
          type: string
          description: Self link.
        additional_security_group_ids:
          type: array
          description: Additional AWS Security Groups to be added node pool.
          items:
            type: string
        availability_zone_types:
          type: object
          additionalProperties:
            type: string
          description: "Associates nodepool availability zones with zone types (e.g.\
            \ wavelength, local)."
        ec2_metadata_http_tokens:
          $ref: '#/components/schemas/Ec2MetadataHttpTokens'
        instance_profile:
          type: string
          description: "InstanceProfile is the AWS EC2 instance profile, which is\
            \ a container for an IAM role that the EC2 instance uses."
        instance_type:
          type: string
          description: InstanceType is an ec2 instance type for node instances (e.g.
            m5.large).
        root_volume:
          $ref: '#/components/schemas/AWSVolume'
        subnet_outposts:
          type: object
          additionalProperties:
            type: string
          description: Associates nodepool subnets with AWS Outposts.
        tags:
          type: object
          additionalProperties:
            type: string
          description: |-
            Optional keys and values that the installer will add as tags to all AWS resources it creates.

            AWS tags must conform to the following standards:
            - Each resource may have a maximum of 25 tags
            - Tags beginning with "aws:" are reserved for system use and may not be set
            - Tag keys may be between 1 and 128 characters in length
            - Tag values may be between 0 and 256 characters in length
            - Tags may only contain letters, numbers, spaces, and the following characters: [_ . : / = + - @]
      description: Representation of aws node pool specific parameters.
    AWSSpotMarketOptions:
      properties:
        kind:
          type: string
          description: Indicates the type of this object. Will be 'AWSSpotMarketOptions'
            if this is a complete object or 'AWSSpotMarketOptionsLink' if it is just
            a link.
        id:
          type: string
          description: Unique identifier of the object.
        href:
          type: string
          description: Self link.
        max_price:
          type: number
          description: |-
            The max price for spot instance. Optional.
            If not set, use the on-demand price.
          format: float
      description: Spot market options for AWS machine pool.
    AWSVolume:
      properties:
        iops:
          type: integer
          description: Volume provisioned IOPS.
          format: int32
        size:
          type: integer
          description: Volume size in Gib.
          format: int32
      description: Holds settings for an AWS storage volume.
    AWSSTSAccountRole:
      properties:
        items:
          type: array
          description: The list of STS Roles for this Account Role
          items:
            $ref: '#/components/schemas/AWSSTSRole'
        prefix:
          type: string
          description: The Prefix for this Account Role
      description: Representation of an sts account role for a rosa cluster
    AWSSTSPolicy:
      properties:
        arn:
          type: string
          description: The ARN of the managed policy
        id:
          type: string
          description: Policy ID
        details:
          type: string
          description: Policy Details
        type:
          type: string
          description: Type of policy operator/account role
      description: Representation of an sts policies for rosa cluster
    AWSSTSRole:
      properties:
        hcpManagedPolicies:
          type: boolean
          description: Does this Role have HCP Managed Policies?
        isAdmin:
          type: boolean
          description: Does this role have Admin permission?
        managedPolicies:
          type: boolean
          description: Does this Role have Managed Policies?
        arn:
          type: string
          description: The AWS ARN for this Role
        type:
          type: string
          description: The type of this Role
        roleVersion:
          type: string
          description: The Openshift Version for this Role
      description: Representation of an sts role for a rosa cluster
    CCS:
      properties:
        kind:
          type: string
          description: Indicates the type of this object. Will be 'CCS' if this is
            a complete object or 'CCSLink' if it is just a link.
        id:
          type: string
          description: Unique identifier of the object.
        href:
          type: string
          description: Self link.
        disable_scp_checks:
          type: boolean
          description: |-
            Indicates if cloud permissions checks are disabled,
            when attempting installation of the cluster.
        enabled:
          type: boolean
          description: Indicates if Customer Cloud Subscription is enabled on the
            cluster.
    CPUTotalNodeRoleOSMetricNode:
      properties:
        cpu_total:
          type: number
          description: The total CPU capacity of nodes with this set of roles and
            operating system.
          format: float
        node_roles:
          type: array
          description: Representation of the node role for a cluster.
          items:
            type: string
        operating_system:
          type: string
          description: The operating system.
        time:
          type: string
          format: date-time
      description: Representation of information from telemetry about a the CPU capacity
        by node role and OS.
    CPUTotalsNodeRoleOSMetricNode:
      properties:
        cpu_totals:
          type: array
          items:
            $ref: '#/components/schemas/CPUTotalNodeRoleOSMetricNode'
      description: |-
        Representation of information from telemetry about the CPU capacity by node
        role and OS of a cluster.
    DNS:
      properties:
        base_domain:
          type: string
          description: |-
            Base DNS domain of the cluster.

            During the installation of the cluster it is necessary to create multiple DNS records.
            They will be created as sub-domains of this domain. For example, if the domain_prefix of the
            cluster is `mycluster` and the base domain is `example.com` then the following DNS
            records will be created:

            ```
            mycluster-api.example.com
            mycluster-etcd-0.example.com
            mycluster-etcd-1.example.com
            mycluster-etcd-3.example.com
            ```

            The exact number, type and names of the created DNS record depends on the characteristics
            of the cluster, and may be different for different versions of _OpenShift_. Please don't
            rely on them. For example, to find what is the URL of the Kubernetes API server of the
            cluster don't assume that it will be `mycluster-api.example.com`. Instead of that use
            this API to retrieve the description of the cluster, and get it from the `api.url`
            attribute. For example, if the identifier of the cluster is `123` send a request like
            this:

            ```http
            GET /api/clusters_mgmt/v1/clusters/123 HTTP/1.1
            ```

            That will return a response like this, including the `api.url` attribute:

            ```json
            {
                "kind": "Cluster",
                "id": "123",
                "href": "/api/clusters_mgmt/v1/clusters/123",
                    "api": {
                    "url": "https://mycluster-api.example.com:6443"
                },
                ...
            }
            ```

            When the cluster is created in Amazon Web Services it is necessary to create this base
            DNS domain in advance, using AWS Route53 (https://console.aws.amazon.com/route53).
      description: DNS settings of the cluster.
    DNSDomain:
      properties:
        kind:
          type: string
          description: Indicates the type of this object. Will be 'DNSDomain' if this
            is a complete object or 'DNSDomainLink' if it is just a link.
        id:
          type: string
          description: Unique identifier of the object.
        href:
          type: string
          description: Self link.
        cluster:
          $ref: '#/components/schemas/ClusterLink'
        organization:
          $ref: '#/components/schemas/OrganizationLink'
        reserved_at_timestamp:
          type: string
          description: Date and time when the DNS domain was reserved.
          format: date-time
        user_defined:
          type: boolean
          description: Indicates if this dns domain is user defined.
      description: Contains the properties of a DNS domain.
    GCP:
      properties:
        auth_uri:
          type: string
          description: GCP authentication uri
        auth_provider_x509_cert_url:
          type: string
          description: GCP Authentication provider x509 certificate url
        authentication:
          $ref: '#/components/schemas/GcpAuthentication'
        client_id:
          type: string
          description: GCP client identifier
        client_x509_cert_url:
          type: string
          description: GCP client x509 certificate url
        client_email:
          type: string
          description: GCP client email
        private_key:
          type: string
          description: GCP private key
        private_key_id:
          type: string
          description: GCP private key identifier
        project_id:
          type: string
          description: GCP project identifier.
        security:
          $ref: '#/components/schemas/GcpSecurity'
        token_uri:
          type: string
          description: GCP token uri
        type:
          type: string
          description: GCP the type of the service the key belongs to
      description: Google cloud platform settings of a cluster.
      deprecated: true
    GCPEncryptionKey:
      properties:
        kms_key_service_account:
          type: string
          description: Service account used to access the KMS key
        key_location:
          type: string
          description: Location of the encryption key ring
        key_name:
          type: string
          description: Name of the encryption key
        key_ring:
          type: string
          description: Name of the key ring the encryption key is located on
      description: GCP Encryption Key for CCS clusters.
    GCPFlavour:
      properties:
        compute_instance_type:
          type: string
          description: |-
            GCP default instance type for the worker volume.

            User can be overridden specifying in the cluster itself a type for compute node.
        infra_instance_type:
          type: string
          description: GCP default instance type for the infra volume.
        infra_volume:
          $ref: '#/components/schemas/GCPVolume'
        master_instance_type:
          type: string
          description: GCP default instance type for the master volume.
        master_volume:
          $ref: '#/components/schemas/GCPVolume'
        worker_volume:
          $ref: '#/components/schemas/GCPVolume'
      description: Specification for different classes of nodes inside a flavour.
    GCPImageOverride:
      properties:
        kind:
          type: string
          description: Indicates the type of this object. Will be 'GCPImageOverride'
            if this is a complete object or 'GCPImageOverrideLink' if it is just a
            link.
        id:
          type: string
          description: Unique identifier of the object.
        href:
          type: string
          description: Self link.
        billing_model:
          $ref: '#/components/schemas/BillingModelItem'
        image_id:
          type: string
          description: ImageID is the id of the Google Cloud Platform image.
        product:
          $ref: '#/components/schemas/Product'
        project_id:
          type: string
          description: ProjectID is the id of the Google Cloud Platform project that
            hosts the image.
      description: GcpImageOverride specifies what a GCP VM Image should be used for
        a particular product and billing model
    GCPNetwork:
      properties:
        vpc_name:
          type: string
          description: VPC mame used by the cluster.
        vpc_project_id:
          type: string
          description: The name of the host project where the shared VPC exists.
        compute_subnet:
          type: string
          description: Compute subnet used by the cluster.
        control_plane_subnet:
          type: string
          description: Control plane subnet used by the cluster.
      description: GCP Network configuration of a cluster.
    GCPVolume:
      properties:
        size:
          type: integer
          description: Volume size in Gib.
          format: int32
      description: Holds settings for an GCP storage volume.
    HTPasswdIdentityProvider:
      properties:
        password:
          type: string
          description: Password to be used in the _HTPasswd_ data file.
        username:
          type: string
          description: Username to be used in the _HTPasswd_ data file.
        users:
          type: array
          description: Link to the collection of _HTPasswd_ users.
          items:
            $ref: '#/components/schemas/HTPasswdUser'
      description: Details for `htpasswd` identity providers.
    HTPasswdUser:
      properties:
        id:
          type: string
          description: ID for a secondary user in the _HTPasswd_ data file.
        hashed_password:
          type: string
          description: |-
            HTPasswd Hashed Password for a user in the _HTPasswd_ data file.
            The value of this field is set as-is in the _HTPasswd_ data file for the HTPasswd IDP
        password:
          type: string
          description: |-
            Password in plain-text for a  user in the _HTPasswd_ data file.
            The value of this field is hashed before setting it in the  _HTPasswd_ data file for the HTPasswd IDP
        username:
          type: string
          description: Username for a secondary user in the _HTPasswd_ data file.
    LDAPAttributes:
      properties:
        id:
          type: array
          description: List of attributes to use as the identity.
          items:
            type: string
        email:
          type: array
          description: List of attributes to use as the mail address.
          items:
            type: string
        name:
          type: array
          description: List of attributes to use as the display name.
          items:
            type: string
        preferred_username:
          type: array
          description: List of attributes to use as the preferred user name when provisioning
            a user.
          items:
            type: string
      description: LDAP attributes used to configure the LDAP identity provider.
    LDAPIdentityProvider:
      properties:
        ca:
          type: string
          description: Certificate bundle to use to validate server certificates for
            the configured URL.
        url:
          type: string
          description: |-
            An https://tools.ietf.org/html/rfc2255[RFC 2255] URL which specifies the LDAP host and
            search parameters to use.
        attributes:
          $ref: '#/components/schemas/LDAPAttributes'
        bind_dn:
          type: string
          description: Optional distinguished name to use to bind during the search
            phase.
        bind_password:
          type: string
          description: Optional password to use to bind during the search phase.
        insecure:
          type: boolean
          description: |-
            When `true` no TLS connection is made to the server. When `false` `ldaps://...` URLs
            connect using TLS and `ldap://...` are upgraded to TLS.
      description: Details for `ldap` identity providers.
    STS:
      properties:
        oidc_endpoint_url:
          type: string
          description: URL of the location where OIDC configuration and keys are available
        auto_mode:
          type: boolean
          description: Auto creation mode for cluster - OCM will create the operator
            roles and OIDC provider. false by default.
        enabled:
          type: boolean
          description: If STS is enabled or disabled
        external_id:
          type: string
          description: Optional unique identifier when assuming role in another account
        instance_iam_roles:
          $ref: '#/components/schemas/InstanceIAMRoles'
        managed_policies:
          type: boolean
          description: "If true, cluster account and operator roles have managed policies\
            \ attached."
        oidc_config:
          $ref: '#/components/schemas/OidcConfig'
        operator_iam_roles:
          type: array
          description: List of roles necessary to access the AWS resources of the
            various operators used during installation
          items:
            $ref: '#/components/schemas/OperatorIAMRole'
        operator_role_prefix:
          type: string
          description: Optional user provided prefix for operator roles.
        permission_boundary:
          type: string
          description: Optional user provided permission boundary.
        role_arn:
          type: string
          description: ARN of the AWS role to assume when installing the cluster
        support_role_arn:
          type: string
          description: ARN of the AWS role used by SREs to access the cluster AWS
            account in order to provide support
      description: Contains the necessary attributes to support role-based authentication
        on AWS.
    STSCredentialRequest:
      properties:
        name:
          type: string
          description: Name of CredRequest
        operator:
          $ref: '#/components/schemas/STSOperator'
      description: Representation of an credRequest
    STSOperator:
      properties:
        max_version:
          type: string
          description: Maximum ocp version supported
        min_version:
          type: string
          description: Minimum ocp version supported
        name:
          type: string
          description: Operator Name
        namespace:
          type: string
          description: Operator Namespace
        service_accounts:
          type: array
          description: Service Accounts
          items:
            type: string
      description: Representation of an sts operator
    AddOn:
      properties:
        kind:
          type: string
          description: Indicates the type of this object. Will be 'AddOn' if this
            is a complete object or 'AddOnLink' if it is just a link.
        id:
          type: string
          description: Unique identifier of the object.
        href:
          type: string
          description: Self link.
        common_annotations:
          type: object
          additionalProperties:
            type: string
          description: Common annotations to be applied to all resources created by
            this addon.
        common_labels:
          type: object
          additionalProperties:
            type: string
          description: Common labels to be applied to all resources created by this
            addon.
        config:
          $ref: '#/components/schemas/AddOnConfig'
        credentials_requests:
          type: array
          description: List of credentials requests to authenticate operators to access
            cloud resources.
          items:
            $ref: '#/components/schemas/CredentialRequest'
        description:
          type: string
          description: Description of the add-on.
        docs_link:
          type: string
          description: Link to documentation about the add-on.
        enabled:
          type: boolean
          description: Indicates if this add-on can be added to clusters.
        has_external_resources:
          type: boolean
          description: Indicates if this add-on has external resources associated
            with it
        hidden:
          type: boolean
          description: Indicates if this add-on is hidden.
        icon:
          type: string
          description: Base64-encoded icon representing an add-on. The icon should
            be in PNG format.
        install_mode:
          $ref: '#/components/schemas/AddOnInstallMode'
        label:
          type: string
          description: Label used to attach to a cluster deployment when add-on is
            installed.
        managed_service:
          type: boolean
          description: Indicates if add-on is part of a managed service
        name:
          type: string
          description: Name of the add-on.
        namespaces:
          type: array
          description: Namespaces which are required by this addon.
          items:
            $ref: '#/components/schemas/AddOnNamespace'
        operator_name:
          type: string
          description: The name of the operator installed by this add-on.
        parameters:
          type: array
          description: List of parameters for this add-on.
          items:
            $ref: '#/components/schemas/AddOnParameter'
        requirements:
          type: array
          description: List of requirements for this add-on.
          items:
            $ref: '#/components/schemas/AddOnRequirement'
        resource_cost:
          type: number
          description: Used to determine how many units of quota an add-on consumes
            per resource name.
          format: float
        resource_name:
          type: string
          description: Used to determine from where to reserve quota for this add-on.
        sub_operators:
          type: array
          description: List of sub operators for this add-on.
          items:
            $ref: '#/components/schemas/AddOnSubOperator'
        target_namespace:
          type: string
          description: The namespace in which the addon CRD exists.
        version:
          $ref: '#/components/schemas/AddOnVersion'
      description: Representation of an add-on that can be installed in a cluster.
    AddOnConfig:
      properties:
        kind:
          type: string
          description: Indicates the type of this object. Will be 'AddOnConfig' if
            this is a complete object or 'AddOnConfigLink' if it is just a link.
        id:
          type: string
          description: Unique identifier of the object.
        href:
          type: string
          description: Self link.
        add_on_environment_variables:
          type: array
          description: List of environment variables for the addon
          items:
            $ref: '#/components/schemas/AddOnEnvironmentVariable'
        secret_propagations:
          type: array
          description: List of secret propagations for the addon
          items:
            $ref: '#/components/schemas/AddOnSecretPropagation'
      description: |-
        Representation of an add-on config.
        The attributes under it are to be used by the addon once its installed in the cluster.
    AddOnEnvironmentVariable:
      properties:
        kind:
          type: string
          description: Indicates the type of this object. Will be 'AddOnEnvironmentVariable'
            if this is a complete object or 'AddOnEnvironmentVariableLink' if it is
            just a link.
        id:
          type: string
          description: Unique identifier of the object.
        href:
          type: string
          description: Self link.
        name:
          type: string
          description: Name of the env object.
        value:
          type: string
          description: Value of the env object.
      description: Representation of an add-on env object.
    AddOnInstallMode:
      type: string
      description: Representation of an add-on InstallMode field.
      enum:
      - all_namespaces
      - own_namespace
    AddOnInstallation:
      properties:
        kind:
          type: string
          description: Indicates the type of this object. Will be 'AddOnInstallation'
            if this is a complete object or 'AddOnInstallationLink' if it is just
            a link.
        id:
          type: string
          description: Unique identifier of the object.
        href:
          type: string
          description: Self link.
        addon:
          $ref: '#/components/schemas/AddOn'
        addon_version:
          $ref: '#/components/schemas/AddOnVersion'
        billing:
          $ref: '#/components/schemas/AddOnInstallationBilling'
        creation_timestamp:
          type: string
          description: Date and time when the add-on was initially installed in the
            cluster.
          format: date-time
        operator_version:
          type: string
          description: Version of the operator installed by the add-on.
        parameters:
          type: array
          description: List of add-on parameters for this add-on installation.
          items:
            $ref: '#/components/schemas/AddOnInstallationParameter'
        state:
          $ref: '#/components/schemas/AddOnInstallationState'
        state_description:
          type: string
          description: Reason for the current State.
        updated_timestamp:
          type: string
          description: Date and time when the add-on installation information was
            last updated.
          format: date-time
      description: Representation of an add-on installation in a cluster.
    AddOnInstallationBilling:
      properties:
        kind:
          type: string
          description: Indicates the type of this object. Will be 'AddOnInstallationBilling'
            if this is a complete object or 'AddOnInstallationBillingLink' if it is
            just a link.
        id:
          type: string
          description: Unique identifier of the object.
        href:
          type: string
          description: Self link.
        billing_marketplace_account:
          type: string
          description: Account ID for billing market place
        billing_model:
          $ref: '#/components/schemas/BillingModel'
      description: Representation of an add-on installation billing.
    AddOnInstallationParameter:
      properties:
        kind:
          type: string
          description: Indicates the type of this object. Will be 'AddOnInstallationParameter'
            if this is a complete object or 'AddOnInstallationParameterLink' if it
            is just a link.
        id:
          type: string
          description: Unique identifier of the object.
        href:
          type: string
          description: Self link.
        value:
          type: string
          description: Value of the parameter.
      description: Representation of an add-on installation parameter.
    AddOnInstallationState:
      type: string
      description: Representation of an add-on installation State field.
      enum:
      - deleting
      - failed
      - installing
      - pending
      - ready
    AddOnNamespace:
      properties:
        kind:
          type: string
          description: Indicates the type of this object. Will be 'AddOnNamespace'
            if this is a complete object or 'AddOnNamespaceLink' if it is just a link.
        id:
          type: string
          description: Unique identifier of the object.
        href:
          type: string
          description: Self link.
        annotations:
          type: object
          additionalProperties:
            type: string
          description: Annotations to be applied to this namespace.
        labels:
          type: object
          additionalProperties:
            type: string
          description: Labels to be applied to this namespace.
        name:
          type: string
          description: Name of the namespace.
    AddOnParameter:
      properties:
        kind:
          type: string
          description: Indicates the type of this object. Will be 'AddOnParameter'
            if this is a complete object or 'AddOnParameterLink' if it is just a link.
        id:
          type: string
          description: Unique identifier of the object.
        href:
          type: string
          description: Self link.
        addon:
          $ref: '#/components/schemas/AddOn'
        conditions:
          type: array
          description: Conditions in which this parameter is valid for
          items:
            $ref: '#/components/schemas/AddOnRequirement'
        default_value:
          type: string
          description: Indicates the value default for the add-on parameter.
        description:
          type: string
          description: Description of the add-on parameter.
        editable:
          type: boolean
          description: Indicates if this parameter can be edited after creation.
        editable_direction:
          type: string
          description: |-
            Restricts if the parameter can be upscaled/downscaled
            Expected values are "up", "down", or "" (no restriction).
        enabled:
          type: boolean
          description: Indicates if this parameter is enabled for the add-on.
        name:
          type: string
          description: Name of the add-on parameter.
        options:
          type: array
          description: List of options for the add-on parameter value.
          items:
            $ref: '#/components/schemas/AddOnParameterOption'
        required:
          type: boolean
          description: Indicates if this parameter is required by the add-on.
        validation:
          type: string
          description: Validation rule for the add-on parameter.
        validation_err_msg:
          type: string
          description: Error message to return should the parameter be invalid.
        value_type:
          type: string
          description: Type of value of the add-on parameter.
      description: Representation of an add-on parameter.
    AddOnParameterOption:
      properties:
        name:
          type: string
          description: Name of the add-on parameter option.
        rank:
          type: integer
          description: Rank of option to be used in cases where editable direction
            should be restricted.
          format: int32
        requirements:
          type: array
          description: List of add-on requirements for this parameter option.
          items:
            $ref: '#/components/schemas/AddOnRequirement'
        value:
          type: string
          description: Value of the add-on parameter option.
      description: Representation of an add-on parameter option.
    AddOnRequirement:
      properties:
        id:
          type: string
          description: ID of the add-on requirement.
        data:
          type: object
          additionalProperties:
            type: object
          description: Data for the add-on requirement.
        enabled:
          type: boolean
          description: Indicates if this requirement is enabled for the add-on.
        resource:
          type: string
          description: Type of resource of the add-on requirement.
        status:
          $ref: '#/components/schemas/AddOnRequirementStatus'
      description: Representation of an add-on requirement.
    AddOnRequirementStatus:
      properties:
        error_msgs:
          type: array
          description: Error messages detailing reasons for unfulfilled requirements.
          items:
            type: string
        fulfilled:
          type: boolean
          description: Indicates if this requirement is fulfilled.
      description: Representation of an add-on requirement status.
    AddOnSecretPropagation:
      properties:
        id:
          type: string
          description: ID of the secret propagation
        destination_secret:
          type: string
          description: DestinationSecret is location of the secret to be added
        enabled:
          type: boolean
          description: Indicates is this secret propagation is enabled for the addon
        source_secret:
          type: string
          description: SourceSecret is location of the source secret
      description: Representation of an addon secret propagation
    AddOnSubOperator:
      properties:
        enabled:
          type: boolean
          description: Indicates if the sub operator is enabled for the add-on
        operator_name:
          type: string
          description: Name of the add-on sub operator
        operator_namespace:
          type: string
          description: Namespace of the add-on sub operator
      description: "Representation of an add-on sub operator. A sub operator is an\
        \ operator\nwho's life cycle is controlled by the add-on umbrella operator. "
    AddOnVersion:
      properties:
        kind:
          type: string
          description: Indicates the type of this object. Will be 'AddOnVersion' if
            this is a complete object or 'AddOnVersionLink' if it is just a link.
        id:
          type: string
          description: Unique identifier of the object.
        href:
          type: string
          description: Self link.
        additional_catalog_sources:
          type: array
          description: Additional catalog sources associated with this addon version
          items:
            $ref: '#/components/schemas/AdditionalCatalogSource'
        available_upgrades:
          type: array
          description: AvailableUpgrades is the list of versions this version can
            be upgraded to.
          items:
            type: string
        channel:
          type: string
          description: The specific addon catalog source channel of packages
        config:
          $ref: '#/components/schemas/AddOnConfig'
        enabled:
          type: boolean
          description: Indicates if this add-on version can be added to clusters.
        package_image:
          type: string
          description: The package image for this addon version
        parameters:
          type: array
          description: List of parameters for this add-on version.
          items:
            $ref: '#/components/schemas/AddOnParameter'
        pull_secret_name:
          type: string
          description: The pull secret name used for this addon version.
        requirements:
          type: array
          description: List of requirements for this add-on version.
          items:
            $ref: '#/components/schemas/AddOnRequirement'
        source_image:
          type: string
          description: The catalog source image for this add-on version.
        sub_operators:
          type: array
          description: List of sub operators for this add-on version.
          items:
            $ref: '#/components/schemas/AddOnSubOperator'
      description: Representation of an add-on version.
    AdditionalCatalogSource:
      properties:
        id:
          type: string
          description: ID of the additional catalog source
        enabled:
          type: boolean
          description: Indicates is this additional catalog source is enabled for
            the addon
        image:
          type: string
          description: Image of the additional catalog source.
        name:
          type: string
          description: Name of the additional catalog source.
      description: Representation of an addon catalog source object used by addon
        versions.
    AddonUpgradePolicy:
      properties:
        kind:
          type: string
          description: Indicates the type of this object. Will be 'AddonUpgradePolicy'
            if this is a complete object or 'AddonUpgradePolicyLink' if it is just
            a link.
        id:
          type: string
          description: Unique identifier of the object.
        href:
          type: string
          description: Self link.
        addon_id:
          type: string
          description: Addon ID this upgrade policy is defined for
        cluster_id:
          type: string
          description: Cluster ID this upgrade policy is defined for.
        next_run:
          type: string
          description: Next time the upgrade should run.
          format: date-time
        schedule:
          type: string
          description: Schedule cron expression that defines automatic upgrade scheduling.
        schedule_type:
          type: string
          description: Schedule type can be either "manual" (single execution) or
            "automatic" (re-occurring).
        upgrade_type:
          type: string
          description: Upgrade type specify the type of the upgrade. Must be "ADDON".
        version:
          type: string
          description: Version is the desired upgrade version.
      description: Representation of an upgrade policy that can be set for a cluster.
    AddonUpgradePolicyState:
      properties:
        kind:
          type: string
          description: Indicates the type of this object. Will be 'AddonUpgradePolicyState'
            if this is a complete object or 'AddonUpgradePolicyStateLink' if it is
            just a link.
        id:
          type: string
          description: Unique identifier of the object.
        href:
          type: string
          description: Self link.
        description:
          type: string
          description: Description of the state.
        value:
          $ref: '#/components/schemas/UpgradePolicyStateValue'
      description: Representation of an addon upgrade policy state that that is set
        for a cluster.
    AdminCredentials:
      properties:
        password:
          type: string
          description: Cluster administrator password.
        user:
          type: string
          description: Cluster administrator user name.
      description: |-
        Temporary administrator credentials generated during the installation of the
        cluster.
    AlertInfo:
      properties:
        name:
          type: string
          description: The alert name. Multiple alerts with same name are possible.
        severity:
          $ref: '#/components/schemas/AlertSeverity'
      description: Provides information about a single alert firing on the cluster.
    AlertSeverity:
      type: string
      description: Severity of a cluster alert received via telemetry.
      enum:
      - critical
      - none
      - warning
    AlertsInfo:
      properties:
        alerts:
          type: array
          items:
            $ref: '#/components/schemas/AlertInfo'
      description: Provides information about the alerts firing on the cluster.
    AuditLog:
      properties:
        role_arn:
          type: string
          description: ARN of the CloudWatch audit log forwarding role
      description: Contains the necessary attributes to support audit log forwarding
    AutoscalerResourceLimits:
      properties:
        gpus:
          type: array
          description: |-
            Minimum and maximum number of different GPUs in cluster, in the format <gpu_type>:<min>:<max>.
            Cluster autoscaler will not scale the cluster beyond these numbers. Can be passed multiple times.
          items:
            $ref: '#/components/schemas/AutoscalerResourceLimitsGPULimit'
        cores:
          $ref: '#/components/schemas/ResourceRange'
        max_nodes_total:
          type: integer
          description: |-
            Maximum number of nodes in all node groups.
            Cluster autoscaler will not grow the cluster beyond this number.
          format: int32
        memory:
          $ref: '#/components/schemas/ResourceRange'
    AutoscalerResourceLimitsGPULimit:
      properties:
        range:
          $ref: '#/components/schemas/ResourceRange'
        type:
          type: string
          description: |-
            The type of GPU to associate with the minimum and maximum limits.
            This value is used by the Cluster Autoscaler to identify Nodes that will have GPU capacity by searching
            for it as a label value on the Node objects. For example, Nodes that carry the label key
            `cluster-api/accelerator` with the label value being the same as the Type field will be counted towards
            the resource limits by the Cluster Autoscaler.
    AutoscalerScaleDownConfig:
      properties:
        delay_after_add:
          type: string
          description: How long after scale up that scale down evaluation resumes.
        delay_after_delete:
          type: string
          description: "How long after node deletion that scale down evaluation resumes,\
            \ defaults to scan-interval."
        delay_after_failure:
          type: string
          description: How long after scale down failure that scale down evaluation
            resumes.
        enabled:
          type: boolean
          description: Should cluster-autoscaler scale down the cluster.
        unneeded_time:
          type: string
          description: How long a node should be unneeded before it is eligible for
            scale down.
        utilization_threshold:
          type: string
          description: "Node utilization level, defined as sum of requested resources\
            \ divided by capacity, below which a node can be considered for scale\
            \ down."
    AwsEtcdEncryption:
      properties:
        kms_key_arn:
          type: string
          description: ARN of the KMS to be used for the etcd encryption
      description: Contains the necessary attributes to support etcd encryption for
        AWS based clusters.
    Azure:
      properties:
        managed_resource_group_name:
          type: string
          description: |-
            [Required] The name of the Azure Resource Group where the Azure Resources related
            to the cluster are created. The Azure Resource Group is created with the given
            value, within the Azure Subscription `subscription_id` of the cluster.
            `managed_resource_group_name` cannot be equal to the value of `managed_resource_group`.
            `managed_resource_group_name` is located in the same Azure location as the
            cluster's region.
            Not to be confused with `resource_group_name`, which is the Azure Resource Group Name
            where the own Azure Resource associated to the cluster resides.
        network_security_group_resource_id:
          type: string
          description: |-
            [Required] The Azure Resource ID of a pre-existing
            Azure Network Security Group.
            The Network Security Group specified in network_security_group_resource_id
            must already be associated to the Azure Subnet `subnet_resource_id`.
            It is the Azure Network Security Group associated to the cluster's subnet
            specified in `subnet_resource_id`.
            `network_security_group_resource_id` must be located in the same Azure
            location as the cluster's region.
            The Azure Subscription specified as part of
            `network_security_group_resource_id` must be located in the same Azure
            Subscription as `subscription_id`.
            The Azure Resource Group Name specified as part of `network_security_group_resource_id`
            must belong to the Azure Subscription `subscription_id`, and in the same
            Azure location as the cluster's region.
            The Azure Resource Group Name specified as part of `network_security_group_resource_id`
            must be a different Resource Group Name than the one specified in
            `managed_resource_group_name`.
            The Azure Resource Group Name specified as part of `network_security_group_resource_id`
            can be the same, or a different one than the one specified in
            `resource_group_name`.
        resource_group_name:
          type: string
          description: |-
            [Required] The Azure Resource Group Name of the cluster. It must be within `subscription_id`
            of the cluster. `resource_group_name` is located in the same Azure location
            as the cluster's region.
        resource_name:
          type: string
          description: |-
            [Required] The Azure Resource Name of the cluster. It must be within the
            Azure Resource Group Name `resource_group_name`.
            `resource_name` is located in the same Azure location as the cluster's region.
        subnet_resource_id:
          type: string
          description: |-
            [Required] The Azure Resource ID of a pre-existing Azure
            Subnet. It is an Azure Subnet used for the Data Plane of the cluster.
            `subnet_resource_id` must be located in the same Azure location as the
            cluster's region.
            The Azure Subscription specified as part of the `subnet_resource_id`
            must be located in the same Azure Subscription as `subscription_id`.
            The Azure Resource Group Name specified as part of `subnet_resource_id`
            must belong to the Azure Subscription `subscription_id`, and in the same
            Azure location as the cluster's region.
            The Azure Resource Group Name specified as part of `subnet_resource_id`
            must be a different Resource Group Name than the one specified in
            `managed_resource_group_name`.
            The Azure Resource Group Name specified as part of the `subnet_resource_id`
            can be the same, or a different one than the one specified in
            `resource_group_name`.
        subscription_id:
          type: string
          description: |-
            [Required] The Azure Subscription ID associated with the cluster. It must belong to
            the Microsoft Entra Tenant ID `tenant_id`.
        tenant_id:
          type: string
          description: "[Required] The Microsoft Entra Tenant ID where the cluster\
            \ belongs."
      description: Microsoft Azure settings of a cluster.
    AzureNodePool:
      properties:
        os_disk_size_gibibytes:
          type: integer
          description: |-
            The size in GiB to assign to the OS disks of the
            Nodes in the Node Pool. The property
            is the number of bytes x 1024^3.
            If not specified, OS disk size is 30 GiB.
          format: int32
        os_disk_storage_account_type:
          type: string
          description: |-
            The disk storage account type to use for the OS disks of the Nodes in the
            Node Pool. Valid values are:
            * Standard_LRS: HDD
            * StandardSSD_LRS: Standard SSD
            * Premium_LRS: Premium SDD
            * UltraSSD_LRS: Ultra SDD

            If not specified, `Premium_LRS` is used.
        vm_size:
          type: string
          description: |-
            The Azure Virtual Machine size identifier used for the
            Nodes of the Node Pool.
            Availability of VM sizes are dependent on the Azure Location
            of the parent Cluster.
            Required during creation.
        ephemeral_os_disk_enabled:
          type: boolean
          description: |-
            Enables Ephemeral OS Disks for the Nodes in the Node Pool.
            If not specified, no Ephemeral OS Disks are used.
        resource_name:
          type: string
          description: |-
            ResourceName is the Azure Resource Name of the NodePool.
            ResourceName must be within the Azure Resource Group Name of the parent
            Cluster it belongs to.
            ResourceName must be located in the same Azure Location as the parent
            Cluster it belongs to.
            ResourceName must be located in the same Azure Subscription as the parent
            Cluster it belongs to.
            ResourceName must belong to the same Microsoft Entra Tenant ID as the parent
            Cluster it belongs to.
            Required during creation.
            Immutable.
      description: Representation of azure node pool specific parameters.
    BillingModel:
      type: string
      description: Billing model for cluster resources.
      enum:
      - marketplace
      - marketplace-aws
      - marketplace-gcp
      - marketplace-rhm
      - marketplace-azure
      - standard
    BillingModelItem:
      properties:
        kind:
          type: string
          description: Indicates the type of this object. Will be 'BillingModelItem'
            if this is a complete object or 'BillingModelItemLink' if it is just a
            link.
        id:
          type: string
          description: Unique identifier of the object.
        href:
          type: string
          description: Self link.
        billing_model_type:
          type: string
          description: "BillingModelType is the type of the BillingModel. e.g. standard,\
            \ marketplace."
        description:
          type: string
          description: Single line description of the billing model.
        display_name:
          type: string
          description: User friendly display name of the billing model.
        marketplace:
          type: string
          description: "Indicates the marketplace of the billing model. e.g. gcp,\
            \ aws, etc."
      description: BillingModelItem represents a billing model
    BreakGlassCredential:
      properties:
        kind:
          type: string
          description: Indicates the type of this object. Will be 'BreakGlassCredential'
            if this is a complete object or 'BreakGlassCredentialLink' if it is just
            a link.
        id:
          type: string
          description: Unique identifier of the object.
        href:
          type: string
          description: Self link.
        expiration_timestamp:
          type: string
          description: ExpirationTimestamp is the date and time when the credential
            will expire.
          format: date-time
        kubeconfig:
          type: string
          description: Kubeconfig is the generated kubeconfig for this credential.
            It is only stored in memory
        revocation_timestamp:
          type: string
          description: RevocationTimestamp is the date and time when the credential
            has been revoked.
          format: date-time
        status:
          $ref: '#/components/schemas/BreakGlassCredentialStatus'
        username:
          type: string
          description: Username is the user which will be used for this credential.
      description: Representation of a break glass credential.
    BreakGlassCredentialStatus:
      type: string
      description: Status of the break glass credential.
      enum:
      - awaiting_revocation
      - created
      - expired
      - failed
      - issued
      - revoked
    ByoOidc:
      properties:
        enabled:
          type: boolean
          description: |-
            Boolean flag indicating if the cluster should be creating using _ByoOidc_.

            By default this is `false`.

            To enable it the cluster needs to be ROSA cluster and the organization of the user needs
            to have the `byo-oidc` feature toggle enabled.
      description: ByoOidc configuration.
    ClientComponent:
      properties:
        name:
          type: string
          description: The name of the component.
        namespace:
          type: string
          description: The namespace of the component.
      description: The reference of a component that will consume the client configuration.
    CloudVPC:
      properties:
        aws_security_groups:
          type: array
          description: List of AWS security groups with details.
          items:
            $ref: '#/components/schemas/SecurityGroup'
        aws_subnets:
          type: array
          description: List of AWS subnetworks with details.
          items:
            $ref: '#/components/schemas/Subnetwork'
        cidr_block:
          type: string
          description: CIDR block of the virtual private cloud.
        id:
          type: string
          description: ID of virtual private cloud.
        name:
          type: string
          description: Name of virtual private cloud according to its `Name` tag on
            AWS.
        red_hat_managed:
          type: boolean
          description: If the resource is RH managed.
        subnets:
          type: array
          description: List of subnets used by the virtual private cloud.
          items:
            type: string
      description: Description of a cloud provider virtual private cloud.
    CloudProvider:
      properties:
        kind:
          type: string
          description: Indicates the type of this object. Will be 'CloudProvider'
            if this is a complete object or 'CloudProviderLink' if it is just a link.
        id:
          type: string
          description: Unique identifier of the object.
        href:
          type: string
          description: Self link.
        display_name:
          type: string
          description: |-
            Name of the cloud provider for display purposes. It can contain any characters,
            including spaces.
        name:
          type: string
          description: "Human friendly identifier of the cloud provider, for example\
            \ `aws`."
        regions:
          type: array
          description: (optional) Provider's regions - only included when listing
            providers with `fetchRegions=true`.
          items:
            $ref: '#/components/schemas/CloudRegion'
      description: Cloud provider.
    CloudProviderData:
      properties:
        aws:
          $ref: '#/components/schemas/AWS'
        gcp:
          $ref: '#/components/schemas/GCP'
        availability_zones:
          type: array
          description: Availability zone
          items:
            type: string
        key_location:
          type: string
          description: Key location
        key_ring_name:
          type: string
          description: Key ring name
        region:
          $ref: '#/components/schemas/CloudRegion'
        subnets:
          type: array
          description: Subnets
          items:
            type: string
        version:
          $ref: '#/components/schemas/Version'
        vpc_ids:
          type: array
          description: VPC ids
          items:
            type: string
      description: Description of a cloud provider data used for cloud provider inquiries.
    CloudRegion:
      properties:
        kind:
          type: string
          description: Indicates the type of this object. Will be 'CloudRegion' if
            this is a complete object or 'CloudRegionLink' if it is just a link.
        id:
          type: string
          description: Unique identifier of the object.
        href:
          type: string
          description: Self link.
        ccs_only:
          type: boolean
          description: "'true' if the region is supported only for CCS clusters, 'false'\
            \ otherwise."
        kms_location_id:
          type: string
          description: |-
            (GCP only) Comma-separated list of KMS location IDs that can be used with this region.
            E.g. "global,nam4,us". Order is not guaranteed.
        kms_location_name:
          type: string
          description: |-
            (GCP only) Comma-separated list of display names corresponding to KMSLocationID.
            E.g. "Global,nam4 (Iowa, South Carolina, and Oklahoma),US". Order is not guaranteed but will match KMSLocationID.
            Unfortunately, this API doesn't allow robust splitting - Contact ocm-feedback@redhat.com if you want to rely on this.
        cloud_provider:
          $ref: '#/components/schemas/CloudProvider'
        display_name:
          type: string
          description: "Name of the region for display purposes, for example `N. Virginia`."
        enabled:
          type: boolean
          description: Whether the region is enabled for deploying a managed cluster.
        govcloud:
          type: boolean
          description: Whether the region is an AWS GovCloud region.
        name:
          type: string
          description: |-
            Human friendly identifier of the region, for example `us-east-1`.

            NOTE: Currently for all cloud providers and all regions `id` and `name` have exactly
            the same values.
        supports_hypershift:
          type: boolean
          description: "'true' if the region is supported for Hypershift deployments,\
            \ 'false' otherwise."
        supports_multi_az:
          type: boolean
          description: Whether the region supports multiple availability zones.
      description: Description of a region of a cloud provider.
    Cluster:
      properties:
        kind:
          type: string
          description: Indicates the type of this object. Will be 'Cluster' if this
            is a complete object or 'ClusterLink' if it is just a link.
        id:
          type: string
          description: Unique identifier of the object.
        href:
          type: string
          description: Self link.
        api:
          $ref: '#/components/schemas/ClusterAPI'
        aws:
          $ref: '#/components/schemas/AWS'
        aws_infrastructure_access_role_grants:
          type: array
          description: List of AWS infrastructure access role grants on this cluster.
          items:
            $ref: '#/components/schemas/AWSInfrastructureAccessRoleGrant'
        ccs:
          $ref: '#/components/schemas/CCS'
        dns:
          $ref: '#/components/schemas/DNS'
        fips:
          type: boolean
          description: Create cluster that uses FIPS Validated / Modules in Process
            cryptographic libraries.
        gcp:
          $ref: '#/components/schemas/GCP'
        gcp_encryption_key:
          $ref: '#/components/schemas/GCPEncryptionKey'
        gcp_network:
          $ref: '#/components/schemas/GCPNetwork'
        additional_trust_bundle:
          type: string
          description: Additional trust bundle.
        addons:
          type: array
          description: List of add-ons on this cluster.
          items:
            $ref: '#/components/schemas/AddOnInstallation'
        autoscaler:
          $ref: '#/components/schemas/ClusterAutoscaler'
        azure:
          $ref: '#/components/schemas/Azure'
        billing_model:
          $ref: '#/components/schemas/BillingModel'
        byo_oidc:
          $ref: '#/components/schemas/ByoOidc'
        cloud_provider:
          $ref: '#/components/schemas/CloudProvider'
        console:
          $ref: '#/components/schemas/ClusterConsole'
        creation_timestamp:
          type: string
          description: |-
            Date and time when the cluster was initially created, using the
            format defined in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt).
          format: date-time
        delete_protection:
          $ref: '#/components/schemas/DeleteProtection'
        disable_user_workload_monitoring:
          type: boolean
          description: |-
            Indicates whether the User workload monitoring is enabled or not
            It is enabled by default
        domain_prefix:
          type: string
          description: |-
            DomainPrefix of the cluster. This prefix is optionally assigned by the user when the
            cluster is created. It will appear in the Cluster's domain when the cluster is provisioned.
        etcd_encryption:
          type: boolean
          description: |-
            Indicates whether that etcd is encrypted or not.
            This is set only during cluster creation.
        expiration_timestamp:
          type: string
          description: |-
            Date and time when the cluster will be automatically deleted, using the format defined in
            [RFC3339](https://www.ietf.org/rfc/rfc3339.txt). If no timestamp is provided, the cluster
            will never expire.

            This option is unsupported.
          format: date-time
        external_id:
          type: string
          description: "External identifier of the cluster, generated by the installer."
        external_auth_config:
          $ref: '#/components/schemas/ExternalAuthConfig'
        external_configuration:
          $ref: '#/components/schemas/ExternalConfiguration'
        flavour:
          $ref: '#/components/schemas/Flavour'
        groups:
          type: array
          description: Link to the collection of groups of user of the cluster.
          items:
            $ref: '#/components/schemas/Group'
        health_state:
          $ref: '#/components/schemas/ClusterHealthState'
        htpasswd:
          $ref: '#/components/schemas/HTPasswdIdentityProvider'
        hypershift:
          $ref: '#/components/schemas/Hypershift'
        identity_providers:
          type: array
          description: Link to the collection of identity providers of the cluster.
          items:
            $ref: '#/components/schemas/IdentityProvider'
        inflight_checks:
          type: array
          description: List of inflight checks on this cluster.
          items:
            $ref: '#/components/schemas/InflightCheck'
        infra_id:
          type: string
          description: InfraID is used for example to name the VPCs.
        ingresses:
          type: array
          description: List of ingresses on this cluster.
          items:
            $ref: '#/components/schemas/Ingress'
        kubelet_config:
          $ref: '#/components/schemas/KubeletConfig'
        load_balancer_quota:
          type: integer
          description: Load Balancer quota to be assigned to the cluster.
          format: int32
        machine_pools:
          type: array
          description: List of machine pools on this cluster.
          items:
            $ref: '#/components/schemas/MachinePool'
        managed:
          type: boolean
          description: |-
            Flag indicating if the cluster is managed (by Red Hat) or
            self-managed by the user.
        managed_service:
          $ref: '#/components/schemas/ManagedService'
        multi_az:
          type: boolean
          description: |-
            Flag indicating if the cluster should be created with nodes in
            different availability zones or all the nodes in a single one
            randomly selected.
        multi_arch_enabled:
          type: boolean
          description: Indicate whether the cluster is enabled for multi arch workers
        name:
          type: string
          description: |-
            Name of the cluster. This name is assigned by the user when the
            cluster is created. This is used to uniquely identify the cluster
        network:
          $ref: '#/components/schemas/Network'
        node_drain_grace_period:
          $ref: '#/components/schemas/Value'
        node_pools:
          type: array
          description: |-
            List of node pools on this cluster.
            NodePool is a scalable set of worker nodes attached to a hosted cluster.
          items:
            $ref: '#/components/schemas/NodePool'
        nodes:
          $ref: '#/components/schemas/ClusterNodes'
        openshift_version:
          type: string
          description: |-
            Version of _OpenShift_ installed in the cluster, for example `4.0.0-0.2`.

            When retrieving a cluster this will always be reported.

            When provisioning a cluster this will be ignored, as the version to
            deploy will be determined internally.
        product:
          $ref: '#/components/schemas/Product'
        properties:
          type: object
          additionalProperties:
            type: string
          description: User defined properties for tagging and querying.
        provision_shard:
          $ref: '#/components/schemas/ProvisionShard'
        proxy:
          $ref: '#/components/schemas/Proxy'
        region:
          $ref: '#/components/schemas/CloudRegion'
        registry_config:
          $ref: '#/components/schemas/ClusterRegistryConfig'
        state:
          $ref: '#/components/schemas/ClusterState'
        status:
          $ref: '#/components/schemas/ClusterStatus'
        storage_quota:
          $ref: '#/components/schemas/Value'
        subscription:
          $ref: '#/components/schemas/Subscription'
        version:
          $ref: '#/components/schemas/Version'
      description: |-
        Definition of an _OpenShift_ cluster.

        The `cloud_provider` attribute is a reference to the cloud provider. When a
        cluster is retrieved it will be a link to the cloud provider, containing only
        the kind, id and href attributes:

        ```json
        {
          "cloud_provider": {
            "kind": "CloudProviderLink",
            "id": "123",
            "href": "/api/clusters_mgmt/v1/cloud_providers/123"
          }
        }
        ```

        When a cluster is created this is optional, and if used it should contain the
        identifier of the cloud provider to use:

        ```json
        {
          "cloud_provider": {
            "id": "123",
          }
        }
        ```

        If not included, then the cluster will be created using the default cloud
        provider, which is currently Amazon Web Services.

        The region attribute is mandatory when a cluster is created.

        The `aws.access_key_id`, `aws.secret_access_key` and `dns.base_domain`
        attributes are mandatory when creation a cluster with your own Amazon Web
        Services account.
    ClusterAPI:
      properties:
        url:
          type: string
          description: The URL of the API server of the cluster.
        listening:
          $ref: '#/components/schemas/ListeningMethod'
      description: Information about the API of a cluster.
    ClusterAutoscaler:
      properties:
        kind:
          type: string
          description: Indicates the type of this object. Will be 'ClusterAutoscaler'
            if this is a complete object or 'ClusterAutoscalerLink' if it is just
            a link.
        id:
          type: string
          description: Unique identifier of the object.
        href:
          type: string
          description: Self link.
        balance_similar_node_groups:
          type: boolean
          description: |-
            BalanceSimilarNodeGroups enables/disables the
            `--balance-similar-node-groups` cluster-autoscaler feature.
            This feature will automatically identify node groups with
            the same instance type and the same set of labels and try
            to keep the respective sizes of those node groups balanced.
        balancing_ignored_labels:
          type: array
          description: |-
            This option specifies labels that cluster autoscaler should ignore when considering node group similarity.
            For example, if you have nodes with "topology.ebs.csi.aws.com/zone" label, you can add name of this label here
            to prevent cluster autoscaler from splitting nodes into different node groups based on its value.
          items:
            type: string
        ignore_daemonsets_utilization:
          type: boolean
          description: Should CA ignore DaemonSet pods when calculating resource utilization
            for scaling down. false by default.
        log_verbosity:
          type: integer
          description: |-
            Sets the autoscaler log level.
            Default value is 1, level 4 is recommended for DEBUGGING and level 6 will enable almost everything.
          format: int32
        max_node_provision_time:
          type: string
          description: Maximum time CA waits for node to be provisioned.
        max_pod_grace_period:
          type: integer
          description: Gives pods graceful termination time before scaling down.
          format: int32
        pod_priority_threshold:
          type: integer
          description: |-
            To allow users to schedule "best-effort" pods, which shouldn't trigger
            Cluster Autoscaler actions, but only run when there are spare resources available,
            More info: https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#how-does-cluster-autoscaler-work-with-pod-priority-and-preemption.
          format: int32
        resource_limits:
          $ref: '#/components/schemas/AutoscalerResourceLimits'
        scale_down:
          $ref: '#/components/schemas/AutoscalerScaleDownConfig'
        skip_nodes_with_local_storage:
          type: boolean
          description: "Enables/Disables `--skip-nodes-with-local-storage` CA feature\
            \ flag. If true cluster autoscaler will never delete nodes with pods with\
            \ local storage, e.g. EmptyDir or HostPath. true by default at autoscaler."
      description: Cluster-wide autoscaling configuration.
    ClusterConfigurationMode:
      type: string
      description: Configuration mode of a cluster.
      enum:
      - full
      - read_only
    ClusterConsole:
      properties:
        url:
          type: string
          description: The URL of the console of the cluster.
      description: Information about the console of a cluster.
    ClusterCredentials:
      properties:
        kind:
          type: string
          description: Indicates the type of this object. Will be 'ClusterCredentials'
            if this is a complete object or 'ClusterCredentialsLink' if it is just
            a link.
        id:
          type: string
          description: Unique identifier of the object.
        href:
          type: string
          description: Self link.
        kubeconfig:
          type: string
          description: Administrator _kubeconfig_ file for the cluster.
      description: Credentials of the a cluster.
    ClusterDeployment:
      properties:
        kind:
          type: string
          description: Indicates the type of this object. Will be 'ClusterDeployment'
            if this is a complete object or 'ClusterDeploymentLink' if it is just
            a link.
        id:
          type: string
          description: Unique identifier of the object.
        href:
          type: string
          description: Self link.
        content:
          type: object
          description: Content of the clusterdeployment.
      description: Representation of a clusterdeployment.
    ClusterHealthState:
      type: string
      description: ClusterHealthState indicates the health of a cluster.
      enum:
      - healthy
      - unhealthy
      - unknown
    ClusterLink:
      properties:
        href:
          type: string
          description: "HREF for the cluster, filled in response."
        id:
          type: string
          description: The cluster's ID.
      description: Definition of a cluster link.
    ClusterNodes:
      properties:
        autoscale_compute:
          $ref: '#/components/schemas/MachinePoolAutoscaling'
        availability_zones:
          type: array
          description: The availability zones upon which the nodes are created.
          items:
            type: string
        compute:
          type: integer
          description: |-
            Number of compute nodes of the cluster.
            Compute and AutoscaleCompute cannot be used together.
          format: int32
        compute_labels:
          type: object
          additionalProperties:
            type: string
          description: The labels set on the "default" compute machine pool.
        compute_machine_type:
          $ref: '#/components/schemas/MachineType'
        compute_root_volume:
          $ref: '#/components/schemas/RootVolume'
        infra:
          type: integer
          description: Number of infrastructure nodes of the cluster.
          format: int32
        infra_machine_type:
          $ref: '#/components/schemas/MachineType'
        master:
          type: integer
          description: Number of master nodes of the cluster.
          format: int32
        master_machine_type:
          $ref: '#/components/schemas/MachineType'
        security_group_filters:
          type: array
          description: List of security groups to be applied to nodes (Optional).
          items:
            $ref: '#/components/schemas/MachinePoolSecurityGroupFilter'
        total:
          type: integer
          description: Total number of nodes of the cluster.
          format: int32
      description: Counts of different classes of nodes inside a cluster.
    ClusterOperatorInfo:
      properties:
        condition:
          $ref: '#/components/schemas/ClusterOperatorState'
        name:
          type: string
          description: Name of the operator.
        reason:
          type: string
          description: "Extra detail on condition, if available.  Empty string if\
            \ unknown."
        time:
          type: string
          description: "Time when the sample was obtained, in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt)\
            \ format."
          format: date-time
        version:
          type: string
          description: Current version of the operator.  Empty string if unknown.
    ClusterOperatorState:
      type: string
      description: Overall state of a cluster operator.
      enum:
      - available
      - degraded
      - failing
      - upgrading
    ClusterOperatorsInfo:
      properties:
        operators:
          type: array
          items:
            $ref: '#/components/schemas/ClusterOperatorInfo'
      description: Provides detailed information about the operators installed on
        the cluster.
    ClusterRegistration:
      properties:
        console_url:
          type: string
          description: Optional Console URL of the cluster.
        external_id:
          type: string
          description: Identifier of the cluster generated by the installer.
        organization_id:
          type: string
          description: |-
            Organization identifier of the cluster generated by the
            account manager.
        subscription_id:
          type: string
          description: |-
            Subscription identifier of the cluster generated by the account
            manager.
      description: |-
        Registration of a new cluster to the service.

        For example, to register a cluster that has been provisioned outside
        of this service, send a a request like this:

        ```http
        POST /api/clusters_mgmt/v1/register_cluster HTTP/1.1
        ```

        With a request body like this:

        ```json
        {
          "external_id": "d656aecf-11a6-4782-ad86-8f72638449ba",
          "subscription_id": "...",
          "organization_id": "..."
        }
        ```
    ClusterRegistryConfig:
      properties:
        additional_trusted_ca:
          type: object
          additionalProperties:
            type: string
          description: |-
            A map containing the registry hostname as the key, and the PEM-encoded certificate as the value,
            for each additional registry CA to trust.
        allowed_registries_for_import:
          type: array
          description: |-
            AllowedRegistriesForImport limits the container image registries that normal users may import
            images from. Set this list to the registries that you trust to contain valid Docker
            images and that you want applications to be able to import from. Users with
            permission to create Images or ImageStreamMappings via the API are not affected by
            this policy - typically only administrators or system integrations will have those
            permissions.
          items:
            $ref: '#/components/schemas/RegistryLocation'
        platform_allowlist:
          $ref: '#/components/schemas/RegistryAllowlist'
        registry_sources:
          $ref: '#/components/schemas/RegistrySources'
      description: |
        ClusterRegistryConfig describes the configuration of registries for the cluster.
        Its format reflects the OpenShift Image Configuration, for which docs are available on
        [docs.openshift.com](https://docs.openshift.com/container-platform/4.16/openshift_images/image-configuration.html)
        ```json
        {
           "registry_config": {
             "registry_sources": {
               "blocked_registries": [
                 "badregistry.io",
                 "badregistry8.io"
               ]
             }
           }
        }
        ```
    ClusterResources:
      properties:
        kind:
          type: string
          description: Indicates the type of this object. Will be 'ClusterResources'
            if this is a complete object or 'ClusterResourcesLink' if it is just a
            link.
        id:
          type: string
          description: Unique identifier of the object.
        href:
          type: string
          description: Self link.
        cluster_id:
          type: string
          description: Cluster ID for the fetched resources
        creation_timestamp:
          type: string
          description: Date and time when the resources were fetched.
          format: date-time
        resources:
          type: object
          additionalProperties:
            type: string
          description: Returned map of cluster resources fetched.
      description: "Cluster Resource which belongs to a cluster, example Cluster Deployment."
    ClusterState:
      type: string
      description: Overall state of a cluster.
      enum:
      - error
      - hibernating
      - installing
      - pending
      - powering_down
      - ready
      - resuming
      - uninstalling
      - unknown
      - validating
      - waiting
    ClusterStatus:
      properties:
        kind:
          type: string
          description: Indicates the type of this object. Will be 'ClusterStatus'
            if this is a complete object or 'ClusterStatusLink' if it is just a link.
        id:
          type: string
          description: Unique identifier of the object.
        href:
          type: string
          description: Self link.
        dns_ready:
          type: boolean
          description: DNSReady from Provisioner
        oidc_ready:
          type: boolean
          description: OIDCReady from user configuration.
        configuration_mode:
          $ref: '#/components/schemas/ClusterConfigurationMode'
        current_compute:
          type: integer
          description: Current Replicas available for a Hosted Cluster
          format: int32
        description:
          type: string
          description: Detailed description of the cluster status.
        limited_support_reason_count:
          type: integer
          description: Limited Support Reason Count
          format: int32
        provision_error_code:
          type: string
          description: Provisioning Error Code
        provision_error_message:
          type: string
          description: Provisioning Error Message
        state:
          $ref: '#/components/schemas/ClusterState'
      description: Detailed status of a cluster.
    ComponentRoute:
      properties:
        kind:
          type: string
          description: Indicates the type of this object. Will be 'ComponentRoute'
            if this is a complete object or 'ComponentRouteLink' if it is just a link.
        id:
          type: string
          description: Unique identifier of the object.
        href:
          type: string
          description: Self link.
        hostname:
          type: string
          description: Hostname of the route.
        tls_secret_ref:
          type: string
          description: TLS Secret reference of the route.
      description: Representation of a Component Route.
    ComponentRouteType:
      type: string
      description: Type of Component Route.
      enum:
      - console
      - downloads
      - oauth
    ControlPlaneUpgradePolicy:
      properties:
        kind:
          type: string
          description: Indicates the type of this object. Will be 'ControlPlaneUpgradePolicy'
            if this is a complete object or 'ControlPlaneUpgradePolicyLink' if it
            is just a link.
        id:
          type: string
          description: Unique identifier of the object.
        href:
          type: string
          description: Self link.
        cluster_id:
          type: string
          description: Cluster ID this upgrade policy for control plane is defined
            for.
        creation_timestamp:
          type: string
          description: Timestamp for creation of resource.
          format: date-time
        enable_minor_version_upgrades:
          type: boolean
          description: Indicates if minor version upgrades are allowed for automatic
            upgrades (for manual it's always allowed).
        last_update_timestamp:
          type: string
          description: Timestamp for last update that happened to resource.
          format: date-time
        next_run:
          type: string
          description: Next time the upgrade should run.
          format: date-time
        schedule:
          type: string
          description: Schedule cron expression that defines automatic upgrade scheduling.
        schedule_type:
          $ref: '#/components/schemas/ScheduleType'
        state:
          $ref: '#/components/schemas/UpgradePolicyState'
        upgrade_type:
          $ref: '#/components/schemas/UpgradeType'
        version:
          type: string
          description: Version is the desired upgrade version.
      description: Representation of an upgrade policy that can be set for a cluster.
    CredentialRequest:
      properties:
        name:
          type: string
          description: Name of the credentials secret used to access cloud resources
        namespace:
          type: string
          description: Namespace where the credentials secret lives in the cluster
        policy_permissions:
          type: array
          description: List of policy permissions needed to access cloud resources
          items:
            type: string
        service_account:
          type: string
          description: Service account name to use when authenticating
      description: Contains the necessary attributes to allow each operator to access
        the necessary AWS resources
    DeleteProtection:
      properties:
        enabled:
          type: boolean
          description: |-
            Boolean flag indicating if the cluster should be be using _DeleteProtection_.

            By default this is `false`.

            To enable it a SREP needs to patch the value through OCM API
      description: DeleteProtection configuration.
    DetectionType:
      type: string
      enum:
      - auto
      - manual
    Ec2MetadataHttpTokens:
      type: string
      description: Which Ec2MetadataHttpTokens to use for metadata service interaction
        options for EC2 instances
      enum:
      - optional
      - required
    EncryptionKey:
      properties:
        kind:
          type: string
          description: Indicates the type of this object. Will be 'EncryptionKey'
            if this is a complete object or 'EncryptionKeyLink' if it is just a link.
        id:
          type: string
          description: Unique identifier of the object.
        href:
          type: string
          description: Self link.
        name:
          type: string
          description: Name of the encryption key.
      description: Description of a cloud provider encryption key.
    Environment:
      properties:
        backplane_url:
          type: string
          description: the backplane url for the environment
        last_limited_support_check:
          type: string
          description: last time that the worker checked for limited support clusters
          format: date-time
        last_upgrade_available_check:
          type: string
          description: last time that the worker checked for available upgrades
          format: date-time
        name:
          type: string
          description: environment name
      description: Description of an environment
    Event:
      properties:
        body:
          type: object
          additionalProperties:
            type: string
          description: Body of the event to track the details of the tracking event
            as Key value pair
        key:
          type: string
          description: |-
            Key of the event to be tracked. This key should start with an
            uppercase letter followed by alphanumeric characters or
            underscores. The entire key needs to be smaller than 64 characters.
      description: Representation of a trackable event.
    ExternalAuth:
      properties:
        kind:
          type: string
          description: Indicates the type of this object. Will be 'ExternalAuth' if
            this is a complete object or 'ExternalAuthLink' if it is just a link.
        id:
          type: string
          description: Unique identifier of the object.
        href:
          type: string
          description: Self link.
        claim:
          $ref: '#/components/schemas/ExternalAuthClaim'
        clients:
          type: array
          description: The list of the platform's clients that need to request tokens
            from the issuer.
          items:
            $ref: '#/components/schemas/ExternalAuthClientConfig'
        issuer:
          $ref: '#/components/schemas/TokenIssuer'
      description: Representation of an external authentication provider.
    ExternalAuthClaim:
      properties:
        mappings:
          $ref: '#/components/schemas/TokenClaimMappings'
        validation_rules:
          type: array
          description: ValidationRules are rules that are applied to validate token
            claims to authenticate users.
          items:
            $ref: '#/components/schemas/TokenClaimValidationRule'
      description: The claims and validation rules used in the configuration of the
        external authentication.
    ExternalAuthClientConfig:
      properties:
        id:
          type: string
          description: The identifier of the OIDC client from the OIDC provider.
        component:
          $ref: '#/components/schemas/ClientComponent'
        extra_scopes:
          type: array
          description: ExtraScopes is an optional set of scopes to request tokens
            with.
          items:
            type: string
        secret:
          type: string
          description: The secret of the OIDC client from the OIDC provider.
      description: |-
        ExternalAuthClientConfig contains configuration for the platform's clients that
        need to request tokens from the issuer.
    ExternalAuthConfig:
      properties:
        enabled:
          type: boolean
          description: |-
            Boolean flag indicating if the cluster should use an external authentication configuration.

            By default this is false.

            To enable it the cluster needs to be ROSA HCP cluster and the organization of the user needs
            to have the `external-authentication` feature toggle enabled.
        external_auths:
          type: array
          items:
            $ref: '#/components/schemas/ExternalAuth'
      description: ExternalAuthConfig configuration
    ExternalConfiguration:
      properties:
        labels:
          type: array
          description: list of labels externally configured on the clusterdeployment.
          items:
            $ref: '#/components/schemas/Label'
        manifests:
          type: array
          description: list of manifest externally configured for a hosted cluster.
          items:
            $ref: '#/components/schemas/Manifest'
        syncsets:
          type: array
          description: list of syncsets externally configured on the cluster.
          items:
            $ref: '#/components/schemas/Syncset'
      description: Representation of cluster external configuration.
    Flavour:
      properties:
        kind:
          type: string
          description: Indicates the type of this object. Will be 'Flavour' if this
            is a complete object or 'FlavourLink' if it is just a link.
        id:
          type: string
          description: Unique identifier of the object.
        href:
          type: string
          description: Self link.
        aws:
          $ref: '#/components/schemas/AWSFlavour'
        gcp:
          $ref: '#/components/schemas/GCPFlavour'
        name:
          type: string
          description: |-
            Human friendly identifier of the cluster, for example `4`.

[...]
